<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" href="/static/css/styles.css">
    
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Peter Wu</title>
</head>
    
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #4261a8;">
        <a class="navbar-brand" href="/">Peter Wu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/problems"><b>Problems</b></a>
                </li>
<!--
                <li class="nav-item">
                    <a class="nav-link" href="/data"><b>Data</b></a>
                </li>
-->
                <li class="nav-item">
                    <a class="nav-link" href="/projects"><b>Projects</b></a>
                </li>  
            </ul>
        </div>
    </nav> 
    
</body>
</html>
<div class="content container" style="overflow: hidden;">
<div class="row">
    <br>
    <div class="col-md-12 pad-0">
        <div class="betpath-card pad-0">
            <table class="width-100">
                <tbody>
                    <tr class="bord-top-grey">
                        <td class="text-center pad-5 light-grey-back bg-150" colspan="1"><b>Introduction</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="betpath-card h-100">
            <div class="col-sm-12 pad-0">
                <h4 class="pad-top-10 pad-left-10 bg-150"><br>
                Hi there! My name is Peter and I am currently a senior at <a href = "https://cmu.edu">Carnegie Mellon University</a> majoring in Mathematics (concentration in Operations Research and Statistics). I am interested in all things software engineering, statistics, and machine learning.</h4>
    
                <h4 class="pad-top-10 pad-left-10 bg-150">Currently, I am working on <a href="https://betpath.io">Betpath</a> which uses advanced machine learning and statistics to predict sporting matches from 13 different leagues. Feel free to check out some of the <a href = '/projects'>projects</a> I've been working on as well.</h4>
                
                <h4 class="pad-top-10 pad-left-10 bg-150">You can reach me by email at <a href="mailto:peterwu@andrew.cmu.edu?Subject=Greetings!" target="_top">peterwu@andrew.cmu.edu</a>.</h4>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!--
<div class="row">
    <div class="col-md-12 pad-0">
    <div class="betpath-card pad-0">
        <table class="width-100">
            <tbody>
                <tr class="bord-top-grey">
                    <td class="text-center pad-5 light-grey-back bg-150" colspan="1"><b>Projects</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="col-md-6 pad-0">
        <div class="betpath-card h-100">
            <div class="col-sm-12 pad-0" style="text-align: center">
                <br>
                <a href="/projects"><img src="/static/images/tsne_work.png" alt="t-SNE CMU" style="max-width: 100%"></a>
                <hr class="mar-top-3 mar-bottom-3">
                <div class="pad-left-10 pad-top-5 pad-bottom-5">
                    <b>t-SNE application for CMU's Sustainability Initiative</b>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 pad-0">
        <div class="betpath-card h-100">
            <div class="col-sm-12 pad-0" style="text-align: center">
                <br>
                <a href="/projects"><img src="/static/images/beating_clv2.png" alt="Achieving Sports Betting MLB Closing Line Value (CLV)" style = "max-width: 100%;"></a>
                <hr class="mar-top-3 mar-bottom-3">
                <div class="pad-left-10 pad-top-5 pad-bottom-5">
                    <b>Achieving Sports Betting 2021 MLB Closing Line Value (CLV)</b>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 pad-0">
        <div class="betpath-card h-100">
            <div class="col-sm-12 pad-0" style="text-align: center">
                <br>
                <a href="/projects"><img src="/static/images/transparency_nfl.png" alt="2019 NFL Scouting Combine" style="max-width: 100%"></a>
                <hr class="mar-top-3 mar-bottom-3">
                <div class="pad-left-10 pad-top-5 pad-bottom-5">
                    <b>2019 NFL Big Data Bowl</b>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<br>
<br>
</div>
    
<hr>

<div class="container">
<p>&#169; Peter Wu 2021-2022</p>
</div>