{% extends "base.html" %}
{% block title %}Data | Peter Wu{% endblock %}
{% block index_active %} active {% endblock %}
{% block content %}

<div class="container">    

<h1 align="center">About Me</h1>
<div class = "column">
    <div align = "center">
        <img src="/static/images/nfl-scouting-combine.png" alt="2019 NFL Scouting Combine" style = "max-height: 325px;">
    </div>
    <p align = "center"><strong><i>2019 NFL Scouting Combine - Indianapolis, IN</i></strong></p>
</div>

<p style="padding: 0px 200px 0px 200px">My name is Peter Wu and I am currently a sophomore at <a href = "https://cmu.edu">Carnegie Mellon University</a> majoring in Mathematics (concentration in Statistics). I grew up in northern California and have been interested in all things software engineering, statistics, and machine learning. Feel free to check out some of the <a href = '/projects'>projects</a> I've been working on.</p>

<p style="padding: 0px 200px 0px 200px">You can reach me by email at <a href="mailto:peterwu@andrew.cmu.edu?Subject=Greetings!" target="_top">peterwu@andrew.cmu.edu</a>.</p>
   
</div>

{% endblock %}