<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" href="/static/css/styles.css">
    
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
    <title>Peter Wu</title>
</head>
    
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #4261a8;">
        <a class="navbar-brand" href="/">Peter Wu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><b>Home</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/problems"><b>Problems</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects"><b>Projects</b></a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="/papers"><b>Papers</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/code"><b>Code</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resume"><b>Resume</b></a>
                </li>
            </ul>
        </div>
    </nav> 
    
</body>
</html>
<div class="content container">
    <br>
<!--    This means that \( 1+1 = 2 \).-->
    <p>Here are a couple of interesting Leetcode problems I have worked on.</p>
    <div class="betpath-card">
            <div class="col-sm-12 pad-0">
                <div class="table-responsive">
                    <table class="width-100">
                    <tbody>
                        <tr>
                            <td class="text-center pad-5 light-grey-back bg-150 bord-bottom-grey" colspan="5"><b>Problems</b></td>
                        </tr>
                        <tr>
                            <td class="text-center pad-5 light-grey-back bord-right-grey width-35"><small>Problem</small></td>
                            <td class="text-center pad-5 light-grey-back bord-right-grey width-5"><small>#</small></td>
                            <td class="text-center pad-5 light-grey-back bord-right-grey width-10"><small>Difficulty</small></td>
                            <td class="text-center pad-5 light-grey-back bord-right-grey width-15"><small>Solution</small></td>
                            <td class="text-center pad-5 light-grey-back bord-right-grey width-35"><small>Topics</small></td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/two-sum/" target="_blank"><img src="/static/images/fb_logo.png" height="25px" class="pad-left-5" /> <b>Two Sum</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">1</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Easy</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="https://github.com/ConcreteCS/Leetcode-Python-Solutions/blob/main/Problems/LC0001_twoSum.py">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Array, Hash Table</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/add-two-numbers/" target="_blank"><img src="/static/images/google_logo.png" height="25px" class="pad-left-5" /> <b>Add Two Numbers</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">2</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="https://github.com/ConcreteCS/Leetcode-Python-Solutions/blob/main/Problems/LC0002_addTwoNumbers.py">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Linked List, Math, Recursion</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/longest-substring-without-repeating-characters/" target="_blank"><img src="/static/images/pinterest_logo.png" height="25px" class="pad-left-5" /> <b>Longest Substring Without Repeating Characters</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">3</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Hash Table, String, Sliding Window</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/container-with-most-water/" target="_blank"><img src="/static/images/fb_logo.png" height="25px" class="pad-left-5" /> <b>Container With Most Water</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">11</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Array, Two Pointers, Greedy</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/3sum/" target="_blank"><img src="/static/images/paypal_logo.png" height="25px" class="pad-left-5" /> <b>3Sum</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">15</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Array, Two Pointers, Sorting</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/multiply-strings/" target="_blank"><img src="/static/images/microsoft_logo.png" height="25px" class="pad-left-5" /> <b>Multiply Strings</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">43</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Math, String, Simulation</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/group-anagrams/" target="_blank"><img src="/static/images/salesforce_logo.png" height="25px" class="pad-left-5" /> <b>Group Anagrams</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">49</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Hash Table, String, Sorting</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/powx-n/" target="_blank"><img src="/static/images/amazon_logo.png" height="25px" class="pad-left-5" /> <b>Pow(x, n)</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">50</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Math, Recursion</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/merge-intervals/" target="_blank"><img src="/static/images/fanduel_logo.png" height="25px" class="pad-left-5" /> <b>Merge Intervals</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">56</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Array, Sorting</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/valid-number/" target="_blank"><img src="/static/images/fb_logo.png" height="25px" class="pad-left-5" /> <b>Valid Number</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">65</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Hard</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">String</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/remove-duplicates-from-sorted-list/" target="_blank"><img src="/static/images/google_logo.png" height="25px" class="pad-left-5" /> <b>Remove Duplicates from Sorted List</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">83</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Easy</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Linked List</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/validate-binary-search-tree/" target="_blank"><img src="/static/images/google_logo.png" height="25px" class="pad-left-5" /> <b>Validate Binary Search Tree</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">98</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Tree, DFS, Binary Search Tree, Binary Tree</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/maximum-depth-of-binary-tree/" target="_blank"><img src="/static/images/amazon_logo.png" height="25px" class="pad-left-5" /> <b>Maximum Depth of Binary Tree</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">104</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Easy</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Tree, DFS, BFS, Binary Tree</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/best-time-to-buy-and-sell-stock/" target="_blank"><img src="/static/images/uber_logo.png" height="25px" class="pad-left-5" /> <b>Best Time to Buy and Sell Stock I</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">121</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Easy</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Array, Dynamic Programming</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/valid-palindrome/" target="_blank"><img src="/static/images/spotify_logo.png" height="25px" class="pad-left-5" /> <b>Valid Palindrome</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">125</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Easy</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Two Pointers, String</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/single-number-iii/" target="_blank"><img src="/static/images/fb_logo.png" height="25px" class="pad-left-5" /> <b>Single Number III</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">260</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Array, Bit Manipulation</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://www.geeksforgeeks.org/inorder-successor-in-binary-search-tree/" target="_blank"><img src="/static/images/fb_logo.png" height="25px" class="pad-left-5" /> <b>Inorder Successor in BST</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">285</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Medium</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Binary Search Tree</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/find-median-from-data-stream/" target="_blank"><img src="/static/images/microsoft_logo.png" height="25px" class="pad-left-5" /> <b>Find Median from Data Stream</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">295</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Hard</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Two Pointers, Design, Sorting, Heap, Data Stream</td>
                        </tr>
                        <tr class="bord-top-grey">
                            <td class="text-left pad-5 width-35 bord-right-grey"><a href="https://leetcode.com/problems/ransom-note/" target="_blank"><img src="/static/images/microsoft_logo.png" height="25px" class="pad-left-5" /> <b>Ransom Note</b></a></td>
                            <td class="text-center pad-5 width-5 bord-right-grey">383</td>
                            <td class="text-center pad-5 width-10 bord-right-grey">Easy</td>
                            <td class="text-center pad-5 width-15 bord-right-grey"><a href="">Solution</a></td>
                            <td class="text-center pad-5 width-35 bord-right-grey">Hash Table, String, Counting</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
</div>
<br>
<hr>

<div class="container">
<p>Made by Peter Wu</p>
</div>
